<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>addstore</servlet-name>
        <servlet-class>admin.addstore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewstore</servlet-name>
        <servlet-class>admin.viewstore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editstore</servlet-name>
        <servlet-class>admin.editstore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>storeadmin</servlet-name>
        <servlet-class>admin.storeadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inventoryadmin</servlet-name>
        <servlet-class>admin.inventoryadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regionadmin</servlet-name>
        <servlet-class>admin.regionadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customeradmin</servlet-name>
        <servlet-class>admin.customeradmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>employeeadmin</servlet-name>
        <servlet-class>admin.employeeadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productadmin</servlet-name>
        <servlet-class>admin.productadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transcationadmin</servlet-name>
        <servlet-class>admin.transcationadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadingroutineadmin</servlet-name>
        <servlet-class>admin.loadingroutineadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>decisionsupport</servlet-name>
        <servlet-class>admin.decsupadmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addstore</servlet-name>
        <url-pattern>/addstore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewstore</servlet-name>
        <url-pattern>/viewstore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editstore</servlet-name>
        <url-pattern>/editstore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storeadmin</servlet-name>
        <url-pattern>/storeadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inventoryadmin</servlet-name>
        <url-pattern>/inventoryadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regionadmin</servlet-name>
        <url-pattern>/regionadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customeradmin</servlet-name>
        <url-pattern>/customeradmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>employeeadmin</servlet-name>
        <url-pattern>/employeeadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productadmin</servlet-name>
        <url-pattern>/productadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transcationadmin</servlet-name>
        <url-pattern>/transcationadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadingroutineadmin</servlet-name>
        <url-pattern>/loadingroutineadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>decisionsupport</servlet-name>
        <url-pattern>/decsupadmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
